:root {
  --header-text-color: #ec7f37;
  --main-bg-color: #1d1e22;
  --main-text-color: #ffffff;
  --close-modal-color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-around;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  color: var(--main-text-color);
  padding: 5%;
}

.project-title {
  padding-bottom: 2%;
}

.header > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: var(--header-text-color);
}

html,
body {
  background-color: var(--main-bg-color);
  margin: 10px;
}

.profileText {
  color: var(--main-text-color);
}

.project-modal {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  color: var(--main-text-color);
}

.project-modal h3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-close {
  color: var(--close-modal-color);
}

.modal-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 2%;
}

.modal-desc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 5%;
  padding-right: 5%;
}

.closeIconColor {
  color: var(--close-modal-color);
}
