:root {
  --header-text-color: #ec7f37;
  --main-bg-color: #1d1e22;
  --main-text: #ffffff;
}

.header {
  display: flex;
  justify-content: space-around;
}

.gallery {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  height: 35vh;
  width: 40vmin;
  /* background: #ffffff; */
  font-size: 1em;
  margin: 1%;

  color: var(--main-text);
}

.project img {
  height: 70%;
  width: 95%;
  margin: 3%;
}
.header > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: var(--header-text-color);
}

html,
body {
  background-color: var(--main-bg-color);
  margin: 10px;
}

.profileText {
  color: var(--main-text);
}
